<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title> Is it Kosher? </title>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="./src/app.js"></script>
<!-- <script src="client/src/data/questions.js"></script> -->
</head>

<body ng-app="kosher">
    <h1>Is it Kosher?</h1>
    <!-- <main ng-view></main> -->


  <div id="container">
        <div ng-controller="questionCtrl">
        <form>

            <input type="text" ng-model="query" />
            <div>
            {{ query }}

            </div>
            <button ng-click="addQuestion()"> Press me
                <!-- <br><input type="text" ng-model="query-title"/> {{ title }} </br> -->
            </button>
            <button ng-click="getQuestions()"></button>
        </form>
             <!-- <input type="text" name="post" ng-model="query" ng-model-options="{ debounce: 200 }" ng-change="doSearch()"> {{ query }} -->
           <h2>Questions</h2>
            <ul>
                <li ng-repeat="answer in answers track by $index">
                    <p>
                        Is it Kosher?
                        <h3>{{answer}}</h3>
                    </p>

                </li>
            </ul>
        </div>
        <form>
            <!-- <input ng-model="inputBoxValue" name="query"> -->
        </form>
    </div>



</body>


<!-- <script src="client/src/services.js"></script> -->
<!-- <script src="client/src/question.js"></script> -->


</html>
